.inputbar{
    width: 590px;
    height: 54px;
    left: 365px;
    top: 303px;
    background: rgba(0, 0, 41, 0.07);
    border-radius: 5px;
    
    }
    
    .person{
        color: black;
    }
    
    
    
    .home{
        display: flex;
        height: 100%;
        
        }
            
        .homeContainer{
            flex: 6;
            height: 100%;
        }
        .widgets{
            display: flex;
            padding: 20px;
            gap: 20px;
        }